
@model WebApplication4.Models.Thread;

<div class="row" id="emailList__list">
    <a href="/Message/MailDetail">
        <!-- Email Row Starts -->

        <div class="col" id="emailRow">
            
            <div class="col">
                <h3 id="emailRow__title">@Model.Email</h3>
            </div>
            <div class="col" id="emailRow__message">
                <h4>
                    @Model.Subject
                    @*<span class="emailRow__description"> - on Your Channel Future Coders </span>*@
                </h4>
            </div>
            <div class="col">
                <p class="emailRow__time">10pm</p>
            </div>
        </div>

    </a>
</div>