
@model WebApplication4.Models.Message;
<div id="maildet">
    <p class="h3">@ViewData["Subject"]</p>
    <h4 style="margin-bottom:-5px" ;>
        @*name of user here*@ 
        <p>@Model.SenderEmail</p>
    </h4>
    <div id="mailbody">
        <p>
            @Model.Msg
        </p><br /><br /><br />

        
    </div>

</div>