@using WebApplication4.Models;
@model List<Thread>


@foreach (var item in Model)
{
    <div class="search-tag" id="@item.Id">
        <div class="search-tag-detail">
            @item.Subject
        <span class="search-tag-close">
            <i class="fa fa-times "></i>
        </span>
    </div>
</div>

}