
@model WebApplication4.Models.MailDetailMessages;
@{
    Layout = "_Layout";
    ViewData["Subject"] = Model.Thrd.Subject;
}

@section InboxFiles{
    <link type="text/css" rel="stylesheet" href="~/css/Inbox.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    @*<script src="~/js/site.js"></script>*@
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
}

@section InboxHeader{
    <div class="container">
        <!--header-->
        <div class="row" id="header">
            <div class="col" id="header-left">
                <span class="material-icons"> menu </span>
                <img src="https://i.pinimg.com/originals/ae/47/fa/ae47fa9a8fd263aa364018517020552d.png"
                     alt="" />
            </div>
            <div class="col" id="header-middle">
                <span class="material-icons"> search </span>
                <!--toSEARCH INPUT FLIED-->
                <input type="text" placeholder="Search mail" />
                <span class="material-icons"> arrow_drop_down </span>
            </div>
            <div class="col" id="header-right">
                <span class="material-icons"> apps </span>
                <span class="material-icons"> notifications </span>
                <span class="material-icons"> account_circle </span>
            </div>
        </div>

}
<!--header ends-->
<!--main body-->

<div class="row" id="main-body">

    <div class="col-sm-6 col-md-3">
        <!-- Sidebar Starts -->
        <div class="container">
            <div class="row">
                <div class="col" id="sidebar">
                    <!--inbox-->
                    <a asp-action="Compose">
                        <button class="sidebar__compose">
                            <span class="material-icons"> add </span>Compose
                        </button>
                    </a>
                    <div class="col" id="sidebarOption" style="background-color: #f5dad9" ;>
                        <span class="material-icons" href="#"> inbox </span>
                        <a href="/Home/Inbox"><h3>Inbox</h3></a>
                    </div>



                    <div class="col" id="sidebarOption">
                        <!--sent-->

                        <span class="material-icons"> near_me </span>
                        <a href="/Home/Sent"><h3>Sent</h3></a>
                    </div>

                    <div class="col" id="sidebar__footer">
                        <div class="col" id="sidebar__footerIcons">
                            <span class="material-icons"> person </span>
                            <span class="material-icons"> duo </span>
                            <span class="material-icons"> phone </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--sidebar ends-->
    </div> <!--sidebar col ends-->

    <div class="col-sm-6 col-md-9" style="overflow-y:scroll">
        <div class="row">
            <div class="col" id="emailList">
                <!-- Settings Starts -->
                <div class="col" id="emailList__settings">
                    <div class="col" id="emailList__settingsLeft">
                        <input type="checkbox" />
                        <span class="material-icons"> arrow_drop_down </span>
                        <span class="material-icons"> redo </span>
                        <span class="material-icons"> more_vert </span>
                    </div>
                    <div id="emailList__settingsRight">
                        <span class="material-icons"> chevron_left </span>
                        <span class="material-icons"> chevron_right </span>
                        <span class="material-icons"> keyboard_hide </span>
                        <span class="material-icons"> settings </span>
                    </div>
                </div>
                <!-- Settings Ends -->
            </div>
        </div>
        <div class="Message-Container">
            @foreach (WebApplication4.Models.Message m in Model.allMessages)
            {
                <partial name="_MsgDetails" model="m" />
            }
        </div>

        <button id="rep" style="position:relative;top:-60px;" type="button" class="button def"><span class="material-icons">reply</span>&nbsp;Reply</button>

        <br />

        <input type="Number" value="@Model.Thrd.Id" class="d-none">
        <input type="email" value="@Model.curUser.Email" class="d-none">
        @if (Model.allMessages[0].SenderEmail == Model.curUser.Email)
        {
            <input type="email" value="@Model.allMessages[0].ReceiverEmail" class="d-none">
        }
        else
        {
            <input type="email" value="@Model.allMessages[0].SenderEmail" class="d-none">
        }
        <div id="reply" style="position:relative;top:-390px;">



        </div>



    </div>
</div>

