@{
    Layout = "_Layout";
}

@model WebApplication4.Models.AllEmails;
@section InboxFiles{
    <link type="text/css" rel="stylesheet" href="~/css/Inbox.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
}

@section InboxHeader{
    <div class="container">
        <!--header-->
        <div class="row" id="header">
            <div class="col" id="header-left">
                <span class="material-icons"> menu </span>
                <img src="https://i.pinimg.com/originals/ae/47/fa/ae47fa9a8fd263aa364018517020552d.png"
                     alt="" />
            </div>
            <div class="col" id="header-middle">
                <span class="material-icons"> search </span>
                <!--toSEARCH INPUT FLIED-->
                <input type="text" placeholder="Search mail" />
                <span class="material-icons"> arrow_drop_down </span>
            </div>
            <div class="col" id="header-right">
                <span class="material-icons"> apps </span>
                <span class="material-icons"> notifications </span>
                <span class="material-icons"> account_circle </span>
            </div>
        </div>

}
<!--header ends-->
<!--main body-->

<div class="row" id="main-body">

    <div class="col-sm-6 col-md-3">
        <!-- Sidebar Starts -->
        <div class="container">
            <div class="row">
                <div class="col" id="sidebar">
                    <!--inbox-->
                    <form method="post" asp-action="Compose" asp-controller="Message">

                        <input class="d-none" id="curUserEmail" type="text" value="@Model.curUser.Email" name="SenderEmail" />
                        <button class="sidebar__compose" type="submit">
                            <span class="material-icons"> add </span>Compose
                        </button>
                    </form>
                    <form method="post" asp-action="Inbox" asp-controller="Message">
                        <div class="col" id="sidebarOption">
                            <span class="material-icons"> inbox </span>

                            <input class="d-none" type="text" value="@Model.curUser.Email" name="SenderEmail" />
                            <button class="sentbtn" type="submit">
                                <h3>Inbox</h3>
                            </button>
                    </form>
                    </div>

                    <div class="col" id="sidebarOption" style="background-color: #f5dad9" ;>
                        <!--sent-->
                        <span class="material-icons"> near_me </span>
                        <a href="#"><h3>Sent</h3></a>
                    </div>

                </div>
            </div>
        </div>
        <!--sidebar ends-->
    </div> <!--sidebar col ends-->

    <div class="col-sm-6 col-md-9">
        <div class="row">
            <div class="col" id="emailList">
                <!-- Settings Starts -->
                <div class="col" id="emailList__settings">
                    <div class="col" id="emailList__settingsLeft">
                        <input type="checkbox" />
                        <span class="material-icons"> arrow_drop_down </span>
                        <span class="material-icons"> redo </span>
                        <span class="material-icons"> more_vert </span>
                    </div>
                    <div id="emailList__settingsRight">
                        <span class="material-icons"> chevron_left </span>
                        <span class="material-icons"> chevron_right </span>
                        <span class="material-icons"> keyboard_hide </span>
                        <span class="material-icons"> settings </span>
                    </div>
                </div>
                <!-- Settings Ends -->
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="emailList__sections">
                    <div class="section section__selected">
                        <span class="material-icons"> inbox </span>
                        <h4>Primary</h4>
                    </div>

                    <div class="section">
                        <span class="material-icons"> people </span>
                        <h4>Social</h4>
                    </div>

                    <div class="section">
                        <span class="material-icons"> local_offer </span>
                        <h4>Promotions</h4>
                    </div>
                </div>

            </div><!--rowend-->

        </div>


        <!-- Tab panes -->
        <div class="row" id="tab-content" style="height: 650px; overflow: scroll;">
            <div class="container">
                <!-- Email List rows starts -->
                @foreach (WebApplication4.Models.MessageThread a in Model.MsgThread)
                {

                    <partial name="_SentMails.cshtml" model="a"></partial>
                }

            </div>



        </div>


    </div>
</div>
